
            
    <section class="inner-section single-banner" style="background: url(/images/img15.png) no-repeat center;">
        <div class="container">
            <h2>about our company</h2>
            @* <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href='index.html'>Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">about</li>
            </ol> *@
        </div>
    </section>
   
    <section class="inner-section about-company">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-content">
                    <h2>About Us</h2>
                    <ul>
                      <li>
                        We are a trusted manufacturer and supplier of advanced <b> Food Processing & Packaging Machinery,</b> 
                        delivering reliable and efficient solutions for the food and beverage industry. With years of industry experience, 
                        we specialize in machines designed for <b> fruit juice production, pulping, filling, sealing, and packaging.</b>
                        </li>
                        <br />
                        <li>
                        Our product range includes <b>Juice Processing Lines, Fruit Pulper Machines, Tomato Ketchup Processing Plants,
                                Vacuum Fillers, Bottle Filling & Packing Machines,
                            </b> and other customized food processing solutions.
                            Every machine is engineered with precision to ensure <b>high performance, hygiene, durability, and low maintenance.</b>
                            </li>
                        <br />

                        <li>
                        We understand the importance of quality and consistency in food production.
                            That’s why our machines are manufactured using <b>food-grade materials,</b> modern technology,
                        and strict quality control standards. Our solutions help businesses increase productivity, 
                        reduce wastage, and maintain international food safety norms.
                            </li>

<br />

                        <li>
                        Customer satisfaction is at the core of our business. From consultation and machine selection to
                            installation and after-sales support, we provide <b> end-to-end service </b> to help our clients grow with confidence.
                            </li>
                    </ul>
                    </div>
                  
                </div>
            <div class="col-lg-6">
                <img src="/images/img16.png" alt="img" class="aboutimg1"/>
                </div>
               
            </div>
        </div>
    </section>



<section class="inner-section about-company">
    <div class="container">
        <div class="row align-items-center">
            
            <div class="col-lg-6">
                <img src="/images/img17.png" alt="img" class="aboutimg1" />
            </div>

            <div class="col-lg-6">
                <div class="about-content">

                    <h3>Why Choose Us</h3>
                    <p>
                        ✔ High-quality & durable machines
                    </p>
                    <p>
                        ✔ Customized food processing solutions
                    </p>
                    <p> ✔ Advanced technology & food-grade materials</p>
                    <p> ✔ Competitive pricing</p>
                    <p> ✔ Timely delivery & reliable support</p>
                    <p> ✔ Strong after-sales service</p>

                </div>

            </div>

        </div>
    </div>
</section>


    <section class="about-choose">
        <div class="container">
            <div class="row">
                <div class="col-11 col-md-9 col-lg-7 col-xl-6 mx-auto">
                    <div class="section-heading">
                    <h2>Our Vision/Mission</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="choose-card">

                    <img src="/images/v1.png" class="vm-img" />
                     
                        <div class="choose-text">

                        <p style="margin-top:3px">To become a leading name in the food processing machinery industry by delivering innovative, efficient, and sustainable solutions worldwide.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="choose-card">
                    <img src="/images/m1.png" class="vm-img" />
                        <div class="choose-text">

                        <p style="margin-top:3px">To empower food manufacturers with reliable machinery that enhances productivity, quality, and profitability.</p>
                        </div>
                    </div>
                </div>
             
            </div>
        </div>
    </section>
   